<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/estructura.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <title>Frozenfoods/carrito</title>
    <script src="https://kit.fontawesome.com/d23aa527fe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body class="estilo-body">
   <!-- Header -->
   <%- include('partials/header') %>
    <main class="main-carrito">
        <section>
            <% for (let i=6; i<=11; i++){ %>
            <article class="articulocarrito">

                <Img class="imagen" src="/images/products/<%= Productos[i].image%>" alt="lentejas">

                <div class="textoscarrito">
                    <h3 class="tituloscarrito"><%= Productos[i].producto%></h3>

                    <a class="eliminar" href="">Eliminar</a>
                </div>
                <div class="cantidad">
                    <p class="tituloscarrito">Cantidad</p>
                    <p class="tituloscarrito">
                        <i class="fa-solid fa-circle-minus"></i>
                        1
                        <i class="fa-solid fa-circle-plus"></i>
                    </p>
                </div>
                <p class="precios">$<%= Productos[i].precio%></p>


            </article>
            <%}%>
            



        </section>
        <section class="seccion-carritores">
            <div class="cuadro-resumen">
                <div class="titulos-resumen-carrito">
                    <p>Envío a tu domicilio</p>
                    <h3>Total</h3>
                </div>
                <div class="costos">
                    <p>$5</p>
                    <p>$28.5</p>
                </div>
            </div>
            <a href="/"><button type="button" class="botoncarrito">Finalizar compra</button></a>
        </section>
        
    
        
    </main>
     <!-- Footer -->
     <%- include('partials/footer') %>
</body>

</html>