<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/estructura.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body class="estilo-body">
    <!-- Header -->
    <%- include('partials/header') %>
    <main>
        <div class="banner-container">
            <img src="./images/banner-2.jpg" alt="banner" class="banner">
        </div>
        <h2 class="titular">Productos destacados</h2>
        <section class="seccion-productos">
         
            <article class="producto">
                <img src=<%= Productos[1].image %> alt="albondigas">
                <p class="description"> <%= Productos[1].producto %></p>
                <p class="precio">$<%= Productos[1].precio %></p>
                <a href="/product/detalle/2">
                    <button type="button">Detalles <br>y mas</button>
                </a>
                <a href="/carrito">
                    <button type="button">Agregar <br> <i class="fa-solid fa-plus"></i></button>
                </a>
            </article>
            <article class="producto">
                <img src=<%= Productos[2].image %> alt="alitas">
                <p class="description"><%= Productos[2].producto %></p>
                <p class="precio">$<%= Productos[2].precio %></p>
                <a href="/product/detalle/3">
                    <button type="button">Detalles <br>y mas</button>
                </a>
                <a href="/carrito">
                    <button type="button">Agregar <br> <i class="fa-solid fa-plus"></i></button>
                </a>
            </article>
            <article class="producto">
                <img src=<%= Productos[3].image %> alt="lasagna-pollo">
                <p class="description"><%= Productos[3].producto %></p>
                <p class="precio">$<%= Productos[3].precio %></p>
                <a href="/product/detalle/4">
                    <button type="button">Detalles <br>y mas</button>
                </a>
                <a href="/carrito">
                    <button type="button">Agregar <br> <i class="fa-solid fa-plus"></i></button>
                </a>
            </article>
            <article class="producto">
                <img src=<%= Productos[7].image %> alt="lasagna-vege">
                <p class="description"><%= Productos[7].producto %></p>
                <p class="precio">$<%= Productos[7].precio %></p>
                <a href="/product/detalle/8">
                    <button type="button">Detalles <br>y mas</button>
                </a>
                <a href="/carrito">
                    <button type="button">Agregar <br> <i class="fa-solid fa-plus"></i></button>
                </a>
            </article>
        </section>
        <h2 class="titular">Ofertas</h2>
        <section class="seccion-productos">
            
            <article class="producto">
                <img src=<%= Productos[0].image %> alt="albondigas">
                 <p class="description"><%= Productos[0].producto %></p>
                <p class="precio">$<%= Productos[0].precio %> <strike>8</strike></p>
                <a href="/product/detalle/1">
                    <button type="button">Detalles <br>y mas</button>
                </a>
                <a href="/carrito">
                    <button type="button">Agregar <br> <i class="fa-solid fa-plus"></i></button>
                </a>
            </article>
            <article class="producto">
                <img src=<%= Productos[5].image %> alt="vegetales">
                <p class="description"><%= Productos[5].producto %></p>
                <p class="precio">$<%= Productos[5].precio %> <strike>$3</strike></p>
                <a href="/product/detalle/6">
                    <button type="button">Detalles <br>y mas</button>
                </a>
                <a href="/carrito">
                    <button type="button">Agregar <br> <i class="fa-solid fa-plus"></i></button>
                </a>
            </article>
            <article class="producto">
                <img src=<%= Productos[6].image %> alt="lasagna-pollo">
                <p class="description"><%= Productos[6].producto %></p>
                <p class="precio">$<%= Productos[6].precio %> <strike>$3</strike></p>
                <a href="/product/detalle/7">
                    <button type="button">Detalles <br>y mas</button>
                </a>
                <a href="/carrito">
                    <button type="button">Agregar <br> <i class="fa-solid fa-plus"></i></button>
                </a>
            </article>
            <article class="producto">
                <img src=<%= Productos[4].image %> alt="lasagna-vege">
                <p class="description"><%= Productos[4].producto %></p>
                <p class="precio">$<%= Productos[4].precio %> <strike>5</strike></p>
                <a href="/product/detalle/3">
                    <button type="button">Detalles <br>y mas</button>
                </a>
                <a href="/carrito">
                    <button type="button">Agregar <br> <i class="fa-solid fa-plus"></i></button>
                </a>
            </article>
          
        </section>

    </main>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>