<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/estructura.css">
    <link rel="stylesheet" href="/css/signin.css">
    <title>FrozenFoods/editarproducto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body class="estilo-body">
    <!-- Header -->
    <%- include('partials/header') %>
        <main>
            <p class="aviso-bienvenida">Agregar nuevo producto</p>
            <form action="/product/newproduct/" method="POST" class="formulariosproduct" enctype="multipart/form-data">

    <div class="flex-editarproducto">
                <div class="imagen-editar">
                    <div class="textos-e-input">
                        <label for="productImage" class="textos-guia">Seleccione la imagen del producto:</label>  
                        <input type="file" name="imageProduct" id="imageProduct" class="cuadros-input">
                        <% if(locals.errors && errors.imageProduct){ %>
                            <div class="texto-error">
                                <%= errors.imageProduct.msg %>
                            </div>
                        <% } %>

                    </div>

                    <div class="textos-e-input">
                        <label for="productCategory" class="textos-guia">Categoría del producto:</label>
                        <select name="productCategory" id="productCategory" class="cuadros-input">
                        <option value="">Seleccione una opción</option>
                        <%
                        let categorias = ['Acompañamientos','Vegetariano','Arroces','Carnes','Cremas, sopas y cazuelas','Postres'];
                        %>
                        <% for (const categoria of categorias){%>
                            <option value="<%= categoria %>"
                                <%= locals.oldData && (categoria === oldData.productCategory) ? 'selected':null %>>
                                <%= categoria %></option>
                        <%}%>
                        
                        </select>
                        <% if(locals.errors && errors.productCategory){ %>
                            <div class="texto-error">
                                <%= errors.productCategory.msg %>
                            </div>
                        <% } %>
                    </div>
                </div>


                <div class="textos-editar">

                              
                    <div class="textos-e-input">
                        <label for="productName" class="textos-guia">Nombre del producto:</label>
                        <input type="text" name="productName" id="productName" class="cuadros-input" value= <%= locals.oldData? oldData.productName : null %>>
                        <% if(locals.errors && errors.productName){ %>
                            <div class="texto-error">
                                <%= errors.productName.msg %>
                            </div>
                        <% } %>
                        
                    </div>



                    <div class="textos-e-input">
                        <label for="productDescription" class="textos-guia">Descripción del producto:</label>
                        <textarea type="text" name="productDescription" id="productDescription" class="cuadros-input"><%= locals.oldData? oldData.productDescription : null %></textarea>     
                    <% if(locals.errors && errors.productDescription){ %>
                        <div class="texto-error">
                            <%= errors.productDescription.msg %>
                        </div>
                    <% } %>
                    </div>

                    <div class="textos-e-input">
                        <label for="productPrice" class="textos-guia">Precio del producto:</label>
                        <input type="number" name="productPrice" id="productPrice" class="cuadros-input" value="<% if(locals.oldData) {%><%=oldData.productPrice%><%} else {%>null<%} %>" >
                        <% if(locals.errors && errors.productPrice){ %>
                            <div class="texto-error">
                                <%= errors.productPrice.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="textos-e-input">
                        <label for="productDiscount" class="textos-guia">Descuento del producto:</label>
                        <input type="number" name="productDiscount" id="productDiscount" class="cuadros-input" value="<% if(locals.oldData) {%><%=oldData.productDiscount%><%} else {%>null<%} %>" >
                        <% if(locals.errors && errors.productDiscount){ %>
                            <div class="texto-error">
                                <%= errors.productDiscount.msg %>
                            </div>
                        <% } %>
                    </div>


                </div>

            </div>

                <div>
                    <button type="submit" class="botonsignin">Agregar producto</button>
                </div>

            </form>
        </main>
        <!-- Footer -->
        <%- include('partials/footer') %>
</body>

</html>