<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/estructura.css">
  <link rel="stylesheet" href="/css/producto.css">
  <title>FrozenFoods/product</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body class="estilo-body">
  <!-- Header -->
  <%- include('partials/header') %>
    <main>
      <section class="producto-container">
        <img src="/images/products/<%=productDetail.image %>" alt='bbq' class="img-producto">
        <article class="producto-">
          <div class="description">

            <h2>
              <%= productDetail.producto %>
                <br>
                <br>
            </h2>
            <p>
              <%= productDetail.descripcion %>
            </p>
            <br>
            <br>
          </div>
          <hr>
          <p>Precio: $<%= productDetail.precio %>
              <br>
              <br>
          </p>
          <div class="agregar">
            <i class="fa-solid fa-plus"></i>
            <i class="fa-solid fa-minus"></i>
            <div class="cantidad">
              <h3>cantidad</h3>
              <input type="text">

            </div>
          </div>
          <br>
          <br>
          <button class="button-add">Agregar</button>
        

        <div class="botones-producto">
          <a href="/product/editproduct/<%= productDetail.id%>">
          <div class="boton-editar">Editar producto</div>
        </a>
          <form action="/product/editproduct/<%=productDetail.id%>?_method=DELETE" method="POST">
            <button type="submit" class="boton-eliminar">Eliminar</button>
          </form>
        </div>
      </article>
      
      </section>
      <aside class="productos-relacionados">
        <h2 class="otros">productos relacionados</h2>
        <section class="seccion-productos">
          <i class="fa-solid fa-angle-left"></i>
          <a href="/product/detalle/<%=productos[8].id%>">
          <article class="producto">
            <img src="/images/products/<%=productos[8].image %>" alt="albondigas">
            <p class="description">
              <%= productos[8].producto %>
            </p>
            <p class="precio">$<%= productos[8].precio %>
            </p>
            </a>
          </article>
          <a href="/product/detalle/<%=productos[9].id%>">
          <article class="producto">
            <img src="/images/products/<%=productos[9].image %>" alt="alitas">
            <p class="description">
              <%= productos[9].producto %>
            </p>
            <p class="precio">$<%= productos[9].precio %>
            </p>
            </a>
          </article>
          <a href="/product/detalle/<%=productos[10].id%>">
            <article class="producto">
              <img src="/images/products/<%=productos[10].image %>" alt="alitas">
              <p class="description">
                <%= productos[10].producto %>
              </p>
              <p class="precio">$<%= productos[10].precio %>
              </p>
              </a>
            </article>
            <a href="/product/detalle/<%=productos[11].id%>">
              <article class="producto">
                <img src="/images/products/<%=productos[11].image %>" alt="alitas">
                <p class="description">
                  <%= productos[11].producto %>
                </p>
                <p class="precio">$<%= productos[11].precio %>
                </p>
                </a>
              </article>
          <i class="fa-solid fa-angle-right"></i>
      </aside>
      </section> 
      

    </main>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>

</html>