<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/estructura.css">
    <link rel="stylesheet" href="/css/signin.css">
    <title>FrozenFoods/signUp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body class="estilo-body">
    <!-- Header -->
    <%- include('partials/header') %>
    <main>
        <p class="aviso-bienvenida">¡Bienvenido!</p>
        <!--<% if(locals.errors){%>
            <% for(let oneError in errors){%>
                <p><%= errors[oneError].msg%></p>
                <% } %>
        <% } %> -->
        <form action="/users/signUp" method="POST" class="formulariosign" enctype="multipart/form-data" id="form">
            <div class="textos-e-input">
                <label for="email" class="textos-guia">Escribe tu email:</label>
                <input type="email" 
                name="email" 
                id="email" 
                class="cuadros-input <%= locals.errors && errors.email ? 'is-invalid': null  %>"
                value="<%= locals.oldData ? oldData.email :null %>">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-error">
                        <%= errors.email.msg %>
                    </div>
                <% } %>
            </div>

            <div class="textos-e-input">
                <label for="name" class="textos-guia">Escribe tu nombre:</label>
                <input 
                type="text" 
                name="name" 
                id="name" 
                class="cuadros-input <%= locals.errors && errors.name ? 'is-invalid': null  %>"
                value="<%= locals.oldData ? oldData.name :null %>">
                <% if (locals.errors && errors.name) { %>
                    <div class="text-error">
                        <%= errors.name.msg %>
                    </div>
                <% } %>
            </div>

            <div class="textos-e-input">
                <label for="last_name" class="textos-guia">Escribe tu apellido:</label>
                <input 
                type="text" 
                name="last_name" 
                id="last-name" 
                class="cuadros-input <%= locals.errors && errors.last_name ? 'is-invalid': null  %>"
                value="<%= locals.oldData ? oldData.last_name :null %>">
                <% if (locals.errors && errors.last_name) { %>
                    <div class="text-error">
                        <%= errors.last_name.msg %>
                    </div>
                <% } %>
            </div>

            <div class="textos-e-input">
                <label for="avatar" class="textos-guia">Selecciona tu avatar:</label>
                <input type="file" name="avatar" id="avatar" class="cuadros-input">
            </div>

            <div class="textos-e-input">
                <label for="password" class="textos-guia">Escribe tu contraseña:</label>
                <input 
                type="password" 
                name="password" 
                id="password" 
                class="cuadros-input <%= locals.errors && errors.password ? 'is-invalid': null  %>"
                
                <% if (locals.errors && errors.password) { %>
                    <div class="text-error">
                        <%= errors.password.msg %>
                    </div>
                <% } %>
            </div>

          
          
            <div>
                <button type="submit" class="botonsignin" id="botonSubmit">Regístrate</button>
            </div>
            <div class="finalform">
                <p>¿Ya tienes una cuenta?</p>   <a href="/users/signIn" class="textosubrayado">Ingresa aquí</a>
            </div>
    </form>
    </main>
  <!-- Footer -->
  <%- include('partials/footer') %>
  <script>
    const nombre = document.querySelector("#name");
    const email = document.querySelector("#email");
    const apellido = document.querySelector("#last-name");
    const password = document.querySelector("#password");
    const formulario = document.querySelector("#form");
    const boton = document.querySelector('#botonSubmit');
    const upload = document.querySelector('#avatar');

    function enventListeners(e) {
        nombre.addEventListener("change", nombreInput);
        apellido.addEventListener("change",apellidoInput);
        email.addEventListener("change", emailInput);
        password.addEventListener("change",passwordInput);
        boton.addEventListener("click",botonInput);
        upload.addEventListener("change",uploadInput);
    }
    
    
    const nombreInput = (e) => {
        const nombreError = document.createElement('p');
        if(nombre.value.length < 3 && document.getElementById('nombreError')!= undefined){
            console.log('xd')
        }
        else if(nombre.value.length < 3){
            nombreError.innerHTML = 
            "<p>El nombre debe tener mas de 2 caracteres</p>"
            nombreError.classList.add('error');
            nombreError.setAttribute('id','nombreError')
            formulario.appendChild(nombreError);
        }else if(nombre.value.length >= 3 && document.getElementById('nombreError')){
            let nombreError = document.getElementById('nombreError')
            formulario.removeChild(nombreError)
        }
    }
    const apellidoInput = (e) => {
        if(apellido.value.length < 3 && document.getElementById('apellidoError') != undefined){
            console.log("xd")
        }
        else if(apellido.value.length < 3){
            const apellidoError = document.createElement('p')
            apellidoError.innerHTML = 
            "<p>El apellido debe tener mas de 2 caracteres</p>"
            apellidoError.classList.add('error');
            apellidoError.setAttribute('id','apellidoError')
            formulario.appendChild(apellidoError);
        }else if(apellido.value.length >= 3 && document.getElementById('apellidoError')){
            let apellidoError = document.getElementById('apellidoError')
            formulario.removeChild(apellidoError)
        }
    }
    const passwordInput = (e) => {
        if(password.value.length < 8 && document.getElementById('passwordError') != undefined){
            console.log('continuar error')
        }
        else if(password.value.length < 8){
            const passwordError = document.createElement('p')
            passwordError.innerHTML = 
            "<p>La contraseña debe tener mas de 8 caracteres</p>"
            passwordError.classList.add('error');
            passwordError.setAttribute('id','passwordError')
            formulario.appendChild(passwordError);
        }else if(password.value.length >= 8 && document.getElementById('passwordError')){
            let passwordError = document.getElementById('passwordError')
            formulario.removeChild(passwordError)
        }
        console.log(e.target.value)
    }
    const emailInput = (e) => {
        const mensajeMail = email.value;
        if(!mensajeMail.includes('@') && document.getElementById('emailError') != undefined){
            console.log('a')
        }
        else if(!mensajeMail.includes('@')){
            const emailError = document.createElement('p')
            emailError.innerHTML = 
            "<p>Debes ingresar un formato de email valido</p>"
            emailError.classList.add('error');
            emailError.setAttribute('id','emailError')
            formulario.appendChild(emailError);
        }
        else if(mensajeMail.includes('@') && document.getElementById('emailError')){
            let emailError = document.getElementById('emailError')
            formulario.removeChild(emailError)
        }
        console.log(e.target.value)
    }
    const uploadInput = (e) => {
        var allowedExtensions = /(.jpg|.jpeg|.png|.gif)$/i;
        var filePath = upload.value;
        if(!allowedExtensions.exec(filePath) && document.getElementById('uploadError') != undefined){
            console.log("continuar error")
        }
        else if(!allowedExtensions.exec(filePath)){
            const uploadError = document.createElement('p')
            uploadError.innerHTML = 
            "<p>Debes seleccionar un formato de imagen valido</p>"
            uploadError.classList.add('error');
            uploadError.setAttribute('id','uploadError')
            formulario.appendChild(uploadError);
        }else if(allowedExtensions.exec(filePath) && document.getElementById('uploadError')){
            let uploadError = document.getElementById('uploadError')
            formulario.removeChild(uploadError)
        }
    }
    const botonInput = (e) => {
        if(document.getElementById('nombreError') || document.getElementById('emailError') ||document.getElementById('passwordError') || document.getElementById('apellidoError')||document.getElementById('uploadError')){
            e.preventDefault()

        }}

    enventListeners();
  </script>
</body>
</html>