<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/estructura.css">
    <link rel="stylesheet" href="/css/signin.css">
    <title>FrozenFoods/signUp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body class="estilo-body">
    <!-- Header -->
    <%- include('partials/header') %>
    <main>
        <p class="aviso-bienvenida">¡Bienvenido!</p>
        <!--<% if(locals.errors){%>
            <% for(let oneError in errors){%>
                <p><%= errors[oneError].msg%></p>
                <% } %>
        <% } %> -->
        <form action="/users/signUp" method="POST" class="formulariosign" enctype="multipart/form-data">

            <div class="textos-e-input">
                <label for="email" class="textos-guia">Escribe tu email:</label>
                <input type="email" 
                name="email" 
                id="email" 
                class="cuadros-input <%= locals.errors && errors.email ? 'is-invalid': null  %>"
                value="<%= locals.oldData ? oldData.email :null %>">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-error">
                        <%= errors.email.msg %>
                    </div>
                <% } %>
            </div>

            <div class="textos-e-input">
                <label for="name" class="textos-guia">Escribe tu nombre:</label>
                <input 
                type="text" 
                name="name" 
                id="name" 
                class="cuadros-input <%= locals.errors && errors.name ? 'is-invalid': null  %>"
                value="<%= locals.oldData ? oldData.name :null %>">
                <% if (locals.errors && errors.name) { %>
                    <div class="text-error">
                        <%= errors.name.msg %>
                    </div>
                <% } %>
            </div>

            <div class="textos-e-input">
                <label for="last_name" class="textos-guia">Escribe tu apellido:</label>
                <input 
                type="text" 
                name="last_name" 
                id="last-name" 
                class="cuadros-input <%= locals.errors && errors.last_name ? 'is-invalid': null  %>"
                value="<%= locals.oldData ? oldData.last_name :null %>">
                <% if (locals.errors && errors.last_name) { %>
                    <div class="text-error">
                        <%= errors.last_name.msg %>
                    </div>
                <% } %>
            </div>

            <div class="textos-e-input">
                <label for="avatar" class="textos-guia">Selecciona tu avatar:</label>
                <input type="file" name="avatar" id="avatar" class="cuadros-input">
            </div>

            <div class="textos-e-input">
                <label for="password" class="textos-guia">Escribe tu contraseña:</label>
                <input 
                type="password" 
                name="password" 
                id="password" 
                class="cuadros-input <%= locals.errors && errors.password ? 'is-invalid': null  %>"
                
                <% if (locals.errors && errors.password) { %>
                    <div class="text-error">
                        <%= errors.password.msg %>
                    </div>
                <% } %>
            </div>

            <div class="textos-e-input">
                <label for="passwordconf" class="textos-guia">Confirma tu contraseña:</label>
                <input type="password" name="passwordconf" id="passwordconf" class="cuadros-input">
            </div>

            
          
            <div>
                <button type="submit" class="botonsignin">Regístrate</button>
            </div>
            <div class="finalform">
                <p>¿Ya tienes una cuenta?</p>   <a href="/users/signIn" class="textosubrayado">Ingresa aquí</a>
            </div>
    </form>
    </main>
  <!-- Footer -->
  <%- include('partials/footer') %>
</body>
</html>